.barber
{
    padding: 2% 0 5%;
    background: url(../images/wallpaper/paper-4.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    @media screen and (max-width:900px) {
        background-position: right;
    }
    &__titre
    {
        width: fit-content;
        margin: auto;
        color: white;
        padding: 2% 0;
        h1{
            font-family: $texte;
            font-size: 6rem;
            text-align: center;
        }
    }
    &__pers
    {
        text-align: center;
        color: white;
        img
        {
            max-width: 60%;
            // max-height: 50%;
            border-radius: 100%;
        }
        p
        {
            text-transform: uppercase;
            font-family: $texte2;
            &::after
            {
                content: "";
                width: 35%;
                height: 13px;
                display: block;
                margin: auto;
                /* border: 2px solid white; */
                box-shadow: 0 24px 22px black;
            }
        }
   
    }
}
.bloc_apropos
{
    margin: 5% 0;
    padding: 2%;
    background: url('../images/photos/dan-gold-07AAmZ1dECU-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    &__contenu
    {
        text-align: center;
        padding: 5%;
        border: 1px solid black;
        border-radius: 10px;
        color: white;
        background: rgba(1,121,138,0.8);
        /* font-weight: bold; */
        text-shadow: 0px 0px 2px black;
        @media  screen and (max-width:1300px) 
        {
            padding: unset;
        }
    }
}
.bouton_apropos
{
    width: fit-content;
    margin: 5% auto;
}