.accueil
{
    position: relative;
    &_ban
    {
        background: url('../images/wallpaper/wall-pirate.jpg');
        min-height: calc(100vh - 120px);
        background-size: cover;
        background-position: bottom;
        position: relative;
        width: 100%;
        @media screen and (max-width:1300px) {
            min-height: calc(100vh - 70px);
        }
        &:after {
            content: "";
            display: block;
            height: calc(100vh - 120px);
            width: 100%;
            background:rgba(0,0,0, 0.3);
            position: absolute;
            top: 0;
        }
    }
    &__bloc_texte
    {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        @media screen and (max-width:1300px)  {
            top: 20%;   
            transform: unset     ;    
        }
        @media screen and (max-width:700px)  {
            top: 10%;   
            transform: unset;         
        }
    }
    &__texte
    {
        color: white;
        text-shadow: 1px 2px 3px black;
        position: relative;
        text-align: center;
        .contenu-accueil
        {
            @media screen and (max-width:700px)  {
                height: 15vh;           
            }
            h1
            {
                font-size: 5rem;
                font-family: $texte;
                text-transform: uppercase;
                @media screen and (max-width:1300px)  {
                    font-size: 3rem;            
                }
                @media screen and (max-width:700px)  {
                    font-size: 1.3rem;            
                }
            }
        }
        .bouton_accueil
        {
            background-color: #92692B;
            width: 20%;
            height: 50px;
            border-radius: 30px;
            &:hover
            {
                background-color:#af9267 ;
            }
            @media screen and (max-width:1300px)  {
                width: 65%;           
            }
        }
    }
    &__div-icone
    {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        i{
            cursor: pointer;
            animation: clignote 1s infinite;
        }
    }
    // .mustache
    // {
    //     @media screen and (max-width:900px)  {
    //         position: absolute;
    //         top: 23%;
    //         left: 5%;
    //         width: 93%;          
    //     }
    // }
}
@keyframes clignote {
    0% {color: white;}
    40% {color: #92692B;}
    100% {color: white;}
}
.a_propos
{
    margin: 5% auto;
    img
    {
        width: 12vw;
        height: 50vh;
        @media screen and (max-width:900px)  {
            width: 40vw;
        }
    }
    &_image
    {
        text-align: center;
        img:first-child
        {
            filter: blur(1px);
        }
        
        img:nth-child(2)
        {
            margin-top: 50px;
        }
    }
}

.service
{
    padding: 0 0 5% ;
    &_banniere
    {
        background: url('../images/photos/devanture.jpg');
        min-height: 70vh;
        background-size: cover;
        position: relative;
        width: 100%;
        @media screen and (max-width:900px) {
            background-position: center;
        }
        &:after {
            content: "";
            display: block;
            height: 70vh;
            width: 100%;
            background:rgba(133,80,48, 0.3);
            position: absolute;
            top: 0;
        }
    }
    &_titre
    {
        top: 40%;
        position: absolute;
        left: 50%;
        color: white;
        transform: translate(-50%, -50%);
        text-shadow: 0px 2px 2px black;
        @media screen and (max-width:900px) {
            top: 25%;
        }
        h1{
            font-family: 'Brand';
        }
        &::after
        {
            content: "";
            display: block;
            width: 100%;
            border-top: 3px solid;
            box-shadow: 0px 2px 2px black;
        }
    }
    &_desc
    {
        position: relative;
        margin-top: -10%;
        @media screen and (max-width:900px) {
            margin-top: -55%;
        }
    }
    &_contenu
    {
        background: white;
        border: 1px solid;
        box-shadow: 0px 0px 5px black;
    }
    .single_service
    {
        padding: 20px 10px;
        border-bottom: 1px solid #ECEAE5;
        width: 100%;
        display: inline-flex;
        align-items: flex-end;
        justify-content: space-between;
        align-items: center;
        &__item
        {
            display: flex;
            align-items: flex-end;
            font-size: 1.2rem !important;
            @media screen and (max-width:900px) {
                font-size: unset;
            }
            img
            {
                margin-right: 20px;
                width: 58px;
                height: 58px;
                border-radius: 100%;
            }
        }
    }
}
.menu-deroulant
{
    display: none;
}
.affiche_menu
{
    align-items: center;
    position: relative;
    &:hover .menu-deroulant
    {
    position: absolute;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
    z-index: 99;
    top: 80%;
    background: black;
    height: 200%;
    }
    @media screen and (max-width:900px) 
    {
        display: block !important;
        text-align: right;

        &:hover .menu-deroulant
        {
            position: relative;
            display: block;
        }
        
    }
    
}
