.connexion
{
    // background: linear-gradient(45deg, #4458D0, #C650C0);
    background: url('../images/wallpaper/wall1.jpg');
    background-size: cover;
    background-position:center ;
    padding: 5% 0;
}
.bloc_connexion
{
    padding: 10% 0;
    border: 1px solid;
    border-radius: 10px;
    background: whitesmoke;
    width: 90%;
    margin: auto;
}
.bloc_image_connexion
{
    position: relative;
    height: 100%;
    .image_connexion
    {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.bloc_form
{
    text-align: center;
    h1
    {
        color: #333;
    }
    form
    {
        width: 60%;
        margin:auto;
        padding: 10% 0;
    }
    .div_input
    {
        position: relative;
        .input_co
        {
            width: 100%;
            background: #e6e6e6;
            height: 50px;
            border-radius: 25px;
            padding: 0 5% 0 16%;
            margin: 2% auto;
            &::placeholder
            {
                color: #666;
            }
        }
        .icone_form
        {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            align-items: center;
            display: flex;
            padding-left: 5%;
            i
            {
                color: #666;
            }
        }
    }
    .btn_form
    {
        color: #fff;
        text-transform: uppercase;
        width: 100%;
        height: 50px;
        border-radius: 25px;
        background: #57b846;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        -moz-transition: all .4s;
        transition: all .4s;
        margin: 8% auto 0;
        cursor: pointer;
        &:hover
        {
            background: cadetblue;
        }
    }
}

