#contact
{
    background: url('../images/photos/dan-gold-07AAmZ1dECU-unsplash.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    h1,h2
    {
        text-decoration: overline;
    }
}
.bloc_contact
{
    width: 40vw;
    margin:5% auto;
    padding: 2%;
    text-align: center;
    // border: 1px solid black;
    border-radius: 5px;
    background: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (max-width:900px)  {
        width: 80vw;
    }
}