.bloc_select
{
    display: inline-flex;
    align-items: center;
}
.selecteur_presta
{
    width: fit-content;
    margin: auto 10px;
}
.form_presta
{
    width: 100%;
    border: 1px solid;
    padding: 2%;
    margin-bottom: 2%;
    .input_cache
    {
        display: none;
    }
}