.footer
{
    padding: 5% 0;
    background: black;
    &__title
    {
        font-size: 1.8rem;
        font-weight: 400;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 5%;
    }
    &__text
    {
        font-size: 16px;
        color: #b2b2b2;
        margin-bottom: 23px;
        font-weight: 400;
        line-height: 28px;
    }
    &__menu
    {
        display: block;
        list-style: none;
        li a
        {
            font-size: 16px;
            color: #b2b2b2;
            margin-bottom: 23px;
            font-weight: 400;
            line-height: 28px;
            &:hover
            {
                color:white;
            }
        }
    }
    &__formulaire
    {
        display: inline-flex;
        button
        {
            height: 2.45rem;
            font-size: 14px;
            width: 6rem;
            color: #fff;
            background: #bc9321;
            cursor: pointer;
        }
    }
}