.galerie
{
    padding: 0 0 5%;
    &__titre
    {
        width: fit-content;
        margin:2% auto;
    }
    &__image
    {
        text-align: center;
        padding: 2%;
        img
        {
            max-height: 30vh;
            max-width: 35vw;
        }
    }
}