.navigation
{
    background: #0C0D0F;
    color: white;
}
.bloc
{
    justify-content: space-between;
    max-width: 65vw;
    margin: auto;
    padding: 1%;
    @media screen and (max-width:900px) {
        max-width: 100%;
    }
}
.menu
{
    height: 100%;
    align-items: center;
    a{
        text-transform: uppercase;
        color: white;
        font-family: $texte;
        &:hover
        {
            color: #D9AD83;
        }
    }
    @media screen and (max-width:900px)
    {
        position: absolute;
        display: block;
        right: 0;
        transform: translate3d(0, -100%, 0);
        height: unset;
        align-items: unset;
        transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
}
.js_menuBtn
{
    @media screen and (max-width:900px) 
    {
        position: relative;
        width: 35px;
        height: 15px;
        cursor: pointer;
        z-index: 50;
        float: right;
        margin-top: 8%;

        &::before,&::after
        {
            content: "";
            width: 100%;
            height: 3px;
            background: #fff;
            position: absolute;
            right: 0;
            -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            -o-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }    
        &::after
        {
            top: 0;
        }
        &::before
        {
            bottom: 0;
        }
    }
}
.js-menuOpen
{
    &::after
    {
        top:50%;
        transform:rotate(45deg) translate3d(0, -50%, 0)
    }
    &::before
    {
        bottom:50%;
        transform:rotate(-45deg) translate3d(0, 50%, 0)
    }
}
.js-open
{
    transform: translate3d(0, 0, 0);
    top: 9%;
    right: 0;
    background: black;
    z-index: 99;
    @media screen and(max-width:900px) 
    {
        
    }
}