.section_prestation
{
    padding: 5% 0;
}
.titre_prestation
{
    width: 30vw;
    text-align: center;
    margin: auto;
    @media screen and (max-width:900px)  {
        width: 70vw;
    }
}
.bloc_prestation
{
    width: 80%;
    margin: 2% auto;
    &__bloc
    {
        margin-top: 2%;
    }
    &__contenu
    {
        display: inline-flex;
        width: 100%;
        position: relative;    
    }
    &__prix
    {
        position: absolute;
        right: 0;
    }
    p{
        margin: unset;
    }
    h3::after
    {
        content: "";
        display: block;
        border-top: 1px solid black;
    }
    i{
        font-size: 0.8rem;
        color: #787878;
    }
}