@import url("https://fonts.googleapis.com/css2? family = Quattrocento & display = swap");
@font-face {
  font-family: 'Brand';
  src: url("../font/Brand/Brand.otf");
}

@font-face {
  font-family: 'Pirate';
  src: url("../font/Pirate/PiratesBay.ttf");
}

@font-face {
  font-family: 'Zelda';
  src: url("../font/Zelda/The_Wild_Breath_of_Zelda.otf");
}

@font-face {
  font-family: 'Piece';
  src: url("../font/Piece/Pieces_of_Eight.ttf");
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: inline-flex;
}

body {
  font-size: 2vh;
}

a {
  color: white;
}

.navigation {
  background: #0C0D0F;
  color: white;
}

.bloc {
  justify-content: space-between;
  max-width: 65vw;
  margin: auto;
  padding: 1%;
}

@media screen and (max-width: 900px) {
  .bloc {
    max-width: 100%;
  }
}

.menu {
  height: 100%;
  align-items: center;
}

.menu a {
  text-transform: uppercase;
  color: white;
  font-family: "Piece";
}

.menu a:hover {
  color: #D9AD83;
}

@media screen and (max-width: 900px) {
  .menu {
    position: absolute;
    display: block;
    right: 0;
    transform: translate3d(0, -100%, 0);
    height: unset;
    align-items: unset;
    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

@media screen and (max-width: 900px) {
  .js_menuBtn {
    position: relative;
    width: 35px;
    height: 15px;
    cursor: pointer;
    z-index: 50;
    float: right;
    margin-top: 8%;
  }
  .js_menuBtn::before, .js_menuBtn::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    right: 0;
    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .js_menuBtn::after {
    top: 0;
  }
  .js_menuBtn::before {
    bottom: 0;
  }
}

.js-menuOpen::after {
  top: 50%;
  transform: rotate(45deg) translate3d(0, -50%, 0);
}

.js-menuOpen::before {
  bottom: 50%;
  transform: rotate(-45deg) translate3d(0, 50%, 0);
}

.js-open {
  transform: translate3d(0, 0, 0);
  top: 9%;
  right: 0;
  background: black;
  z-index: 99;
}

.accueil {
  position: relative;
}

.accueil_ban {
  background: url("../images/wallpaper/wall-pirate.jpg");
  min-height: calc(100vh - 120px);
  background-size: cover;
  background-position: bottom;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .accueil_ban {
    min-height: calc(100vh - 70px);
  }
}

.accueil_ban:after {
  content: "";
  display: block;
  height: calc(100vh - 120px);
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
}

.accueil__bloc_texte {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1300px) {
  .accueil__bloc_texte {
    top: 20%;
    transform: unset;
  }
}

@media screen and (max-width: 700px) {
  .accueil__bloc_texte {
    top: 10%;
    transform: unset;
  }
}

.accueil__texte {
  color: white;
  text-shadow: 1px 2px 3px black;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .accueil__texte .contenu-accueil {
    height: 15vh;
  }
}

.accueil__texte .contenu-accueil h1 {
  font-size: 5rem;
  font-family: "Piece";
  text-transform: uppercase;
}

@media screen and (max-width: 1300px) {
  .accueil__texte .contenu-accueil h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .accueil__texte .contenu-accueil h1 {
    font-size: 1.3rem;
  }
}

.accueil__texte .bouton_accueil {
  background-color: #92692B;
  width: 20%;
  height: 50px;
  border-radius: 30px;
}

.accueil__texte .bouton_accueil:hover {
  background-color: #af9267;
}

@media screen and (max-width: 1300px) {
  .accueil__texte .bouton_accueil {
    width: 65%;
  }
}

.accueil__div-icone {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.accueil__div-icone i {
  cursor: pointer;
  animation: clignote 1s infinite;
}

@keyframes clignote {
  0% {
    color: white;
  }
  40% {
    color: #92692B;
  }
  100% {
    color: white;
  }
}

.a_propos {
  margin: 5% auto;
}

.a_propos img {
  width: 12vw;
  height: 50vh;
}

@media screen and (max-width: 900px) {
  .a_propos img {
    width: 40vw;
  }
}

.a_propos_image {
  text-align: center;
}

.a_propos_image img:first-child {
  filter: blur(1px);
}

.a_propos_image img:nth-child(2) {
  margin-top: 50px;
}

.service {
  padding: 0 0 5%;
}

.service_banniere {
  background: url("../images/photos/devanture.jpg");
  min-height: 70vh;
  background-size: cover;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .service_banniere {
    background-position: center;
  }
}

.service_banniere:after {
  content: "";
  display: block;
  height: 70vh;
  width: 100%;
  background: rgba(133, 80, 48, 0.3);
  position: absolute;
  top: 0;
}

.service_titre {
  top: 40%;
  position: absolute;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  text-shadow: 0px 2px 2px black;
}

@media screen and (max-width: 900px) {
  .service_titre {
    top: 25%;
  }
}

.service_titre h1 {
  font-family: 'Brand';
}

.service_titre::after {
  content: "";
  display: block;
  width: 100%;
  border-top: 3px solid;
  box-shadow: 0px 2px 2px black;
}

.service_desc {
  position: relative;
  margin-top: -10%;
}

@media screen and (max-width: 900px) {
  .service_desc {
    margin-top: -55%;
  }
}

.service_contenu {
  background: white;
  border: 1px solid;
  box-shadow: 0px 0px 5px black;
}

.service .single_service {
  padding: 20px 10px;
  border-bottom: 1px solid #ECEAE5;
  width: 100%;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
}

.service .single_service__item {
  display: flex;
  align-items: flex-end;
  font-size: 1.2rem !important;
}

@media screen and (max-width: 900px) {
  .service .single_service__item {
    font-size: unset;
  }
}

.service .single_service__item img {
  margin-right: 20px;
  width: 58px;
  height: 58px;
  border-radius: 100%;
}

.menu-deroulant {
  display: none;
}

.affiche_menu {
  align-items: center;
  position: relative;
}

.affiche_menu:hover .menu-deroulant {
  position: absolute;
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  z-index: 99;
  top: 80%;
  background: black;
  height: 200%;
}

@media screen and (max-width: 900px) {
  .affiche_menu {
    display: block !important;
    text-align: right;
  }
  .affiche_menu:hover .menu-deroulant {
    position: relative;
    display: block;
  }
}

.barber {
  padding: 2% 0 5%;
  background: url(../images/wallpaper/paper-4.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .barber {
    background-position: right;
  }
}

.barber__titre {
  width: fit-content;
  margin: auto;
  color: white;
  padding: 2% 0;
}

.barber__titre h1 {
  font-family: "Piece";
  font-size: 6rem;
  text-align: center;
}

.barber__pers {
  text-align: center;
  color: white;
}

.barber__pers img {
  max-width: 60%;
  border-radius: 100%;
}

.barber__pers p {
  text-transform: uppercase;
  font-family: "Pirate";
}

.barber__pers p::after {
  content: "";
  width: 35%;
  height: 13px;
  display: block;
  margin: auto;
  /* border: 2px solid white; */
  box-shadow: 0 24px 22px black;
}

.bloc_apropos {
  margin: 5% 0;
  padding: 2%;
  background: url("../images/photos/dan-gold-07AAmZ1dECU-unsplash.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  align-items: center;
}

.bloc_apropos__contenu {
  text-align: center;
  padding: 5%;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  background: rgba(1, 121, 138, 0.8);
  /* font-weight: bold; */
  text-shadow: 0px 0px 2px black;
}

@media screen and (max-width: 1300px) {
  .bloc_apropos__contenu {
    padding: unset;
  }
}

.bouton_apropos {
  width: fit-content;
  margin: 5% auto;
}

.section_prestation {
  padding: 5% 0;
}

.titre_prestation {
  width: 30vw;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .titre_prestation {
    width: 70vw;
  }
}

.bloc_prestation {
  width: 80%;
  margin: 2% auto;
}

.bloc_prestation__bloc {
  margin-top: 2%;
}

.bloc_prestation__contenu {
  display: inline-flex;
  width: 100%;
  position: relative;
}

.bloc_prestation__prix {
  position: absolute;
  right: 0;
}

.bloc_prestation p {
  margin: unset;
}

.bloc_prestation h3::after {
  content: "";
  display: block;
  border-top: 1px solid black;
}

.bloc_prestation i {
  font-size: 0.8rem;
  color: #787878;
}

#contact {
  background: url("../images/photos/dan-gold-07AAmZ1dECU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

#contact h1, #contact h2 {
  text-decoration: overline;
}

.bloc_contact {
  width: 40vw;
  margin: 5% auto;
  padding: 2%;
  text-align: center;
  border-radius: 5px;
  background: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 900px) {
  .bloc_contact {
    width: 80vw;
  }
}

.footer {
  padding: 5% 0;
  background: black;
}

.footer__title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 5%;
}

.footer__text {
  font-size: 16px;
  color: #b2b2b2;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 28px;
}

.footer__menu {
  display: block;
  list-style: none;
}

.footer__menu li a {
  font-size: 16px;
  color: #b2b2b2;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 28px;
}

.footer__menu li a:hover {
  color: white;
}

.footer__formulaire {
  display: inline-flex;
}

.footer__formulaire button {
  height: 2.45rem;
  font-size: 14px;
  width: 6rem;
  color: #fff;
  background: #bc9321;
  cursor: pointer;
}

.galerie {
  padding: 0 0 5%;
}

.galerie__titre {
  width: fit-content;
  margin: 2% auto;
}

.galerie__image {
  text-align: center;
  padding: 2%;
}

.galerie__image img {
  max-height: 30vh;
  max-width: 35vw;
}

.connexion {
  background: url("../images/wallpaper/wall1.jpg");
  background-size: cover;
  background-position: center;
  padding: 5% 0;
}

.bloc_connexion {
  padding: 10% 0;
  border: 1px solid;
  border-radius: 10px;
  background: whitesmoke;
  width: 90%;
  margin: auto;
}

.bloc_image_connexion {
  position: relative;
  height: 100%;
}

.bloc_image_connexion .image_connexion {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bloc_form {
  text-align: center;
}

.bloc_form h1 {
  color: #333;
}

.bloc_form form {
  width: 60%;
  margin: auto;
  padding: 10% 0;
}

.bloc_form .div_input {
  position: relative;
}

.bloc_form .div_input .input_co {
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 5% 0 16%;
  margin: 2% auto;
}

.bloc_form .div_input .input_co::placeholder {
  color: #666;
}

.bloc_form .div_input .icone_form {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  align-items: center;
  display: flex;
  padding-left: 5%;
}

.bloc_form .div_input .icone_form i {
  color: #666;
}

.bloc_form .btn_form {
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  transition: all .4s;
  margin: 8% auto 0;
  cursor: pointer;
}

.bloc_form .btn_form:hover {
  background: cadetblue;
}

.bloc_select {
  display: inline-flex;
  align-items: center;
}

.selecteur_presta {
  width: fit-content;
  margin: auto 10px;
}

.form_presta {
  width: 100%;
  border: 1px solid;
  padding: 2%;
  margin-bottom: 2%;
}

.form_presta .input_cache {
  display: none;
}

.gestion {
  text-align: center;
}

.gestion__titre {
  padding: 5%;
}

.gestion__btn {
  padding: 0 5% 12%;
}

.gestion__btn button {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */