// ========================================== //
// Settings
// ========================================== //
@import url('https://fonts.googleapis.com/css2? family = Quattrocento & display = swap');

// @import url('https://fonts.googleapis.com/css2? family = Kaushan + Script & display = swap');

// *Define Font
@font-face {
    font-family: 'Brand';
    src: url('../font/Brand/Brand.otf');
}
@font-face {
    font-family: 'Pirate';
    src: url('../font/Pirate/PiratesBay.ttf');
}
@font-face {
    font-family: 'Zelda';
    src: url('../font/Zelda/The_Wild_Breath_of_Zelda.otf');
}
@font-face {
    font-family: 'Piece';
    src: url('../font/Piece/Pieces_of_Eight.ttf');
}
$font: 'Quattrocento';
$texte:'Piece';
$texte2:'Pirate';
*
{
    margin: 0;
    padding: 0;
}
ul
{
    list-style: none;
    display: inline-flex;
}
body
{
    font-size: 2vh;
}
a
{
    color:white;
}