.titre_section {
  background: url(../images/HEADER_LA-MARQUE.jpg);
  min-height: 70vh;
}

.barber__pers {
  max-width: 60%;
  min-height: 100%;
  border-radius: 100%;
}
/*# sourceMappingURL=a-propos.css.map */